<div class="container-fluid fondo-footer">
    <div class="container">
        <footer class="footer">
            <div class="footer__previo {{ inscribete }}">
                <p>
                    Te animamos a participar en el concurso. Tenemos 'jugosos premios' para los campeones. Puedes inscribirte
                    <a href="/src/participantes.html">aquí</a>.
                </p>
            </div>
            <hr class="footer__separador">
            <div class="footer__contenedor row">
                <div class="footer__logo col-lg-3 col-md-12 align-middle mb-3">
                    <a href="/src/index.html">
                        <img src="./assets/images/logo.svg" height="50" alt="logo concurso de cocina Boadilla">
                    </a>
                </div>
                <div class="footer__enlaces col-lg-6 col-md-12 text-center align-middle mb-3">
                    <a href="/src/participantes.html">Participantes</a>
                </div>
                <div class="footer__social col-lg-3 col-md-12 text-end align-middle mb-3">
                    <a href="https://en.wikipedia.org/wiki/Google%2B">
                        <span class="d-none">google+</span>
                        <i class="fa-brands fa-google-plus-g"></i>
                    </a>
                    <a href="https://www.facebook.com/">
                        <span class="d-none">facebook</span>
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/?lang=en">
                        <span class="d-none">X (twitter)</span>
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>
</div>
