<header>
    <nav class="mb-4 py-2 ">
      <div class="flex items-center justify-between px-3">
        <a class="py-1 mr-4" href="/src/index.html">
          <img src="./assets/images/logo.svg" class="h-12" alt="logo concurso de cocina Boadilla">
        </a>
        <button class="border rounded-md py-1 px-3 border-botonMenu lg:hidden" type="button">
          <i class="fa-solid fa-bars w-8 h-8 text-3xl text-botonMenu"></i>
        </button>
        <div class="hidden lg:block">
          <ul class="flex">
            <li class="">
              <a class="text-grisOscuro {{ participantes }}" aria-current="page" href="/src/participantes.html">Participantes</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  