<div class="participantes">
    <div class="participantes__cabecera">
        <h1>Participantes inscritos hasta ahora</h1>
    </div>
    <div class="participantes__contenedor">
        <div class="participante">
            <div class="participante__foto">
                <picture>
                    <source srcset="/src/assets/images/alvaro-salazar.jpg?as=webp&width=500" type="image/webp" />
                    <img class="imagen" src="/src/assets/images/alvaro-salazar.jpg?as=jpg&width=500" alt="Alvaro Salazar" />
                  </picture>
            </div>
            <div class="participante__nombre">
                Álvaro Salazar
            </div>
        </div>
        <div class="participante">
            <div class="participante__foto">
                <picture>
                    <source srcset="/src/assets/images/antonio-rodriguez.jpg?as=webp&width=500" type="image/webp" />
                    <img class="imagen" src="/src/assets/images/antonio-rodriguez.jpg?as=jpg&width=500" alt="Antonio Rodriguez" />
                  </picture>
            </div>
            <div class="participante__nombre">
                Antonio Rodriguez
            </div>
        </div>
        <div class="participante">
            <div class="participante__foto">
                <picture>
                    <source srcset="/src/assets/images/francisco-javier-feixas.jpg?as=webp&width=500" type="image/webp" />
                    <img class="imagen" src="/src/assets/images/francisco-javier-feixas.jpg?as=jpg&width=500" alt="Francisco Javier Feixas" />
                  </picture>
            </div>
            <div class="participante__nombre">
                Francisco Javier Feixas
            </div>
        </div>
        <div class="participante">
            <div class="participante__foto">
                <picture>
                    <source srcset="/src/assets/images/jose-david-fernandez.jpg?as=webp&width=500" type="image/webp" />
                    <img class="imagen" src="/src/assets/images/jose-david-fernandez.jpg?as=jpg&width=500" alt="José David Fernández" />
                  </picture>
            </div>
            <div class="participante__nombre">
                José David Fernández
            </div>
        </div>
        <div class="participante">
            <div class="participante__foto">
                <picture>
                    <source srcset="/src/assets/images/juan-manuel-salgado.jpg?as=webp&width=500" type="image/webp" />
                    <img class="imagen" src="/src/assets/images/juan-manuel-salgado.jpg?as=jpg&width=500" alt="Juan Manuel Salgado" />
                  </picture>
            </div>
            <div class="participante__nombre">
                Juan Manuel Salgado
            </div>
        </div>
        <div class="participante">
            <div class="participante__foto">
                <picture>
                    <source srcset="/src/assets/images/lucia-freitas.jpg?as=webp&width=500" type="image/webp" />
                    <img class="imagen" src="/src/assets/images/lucia-freitas.jpg?as=jpg&width=500" alt="Lucía Freitas" />
                  </picture>
            </div>
            <div class="participante__nombre">
                Lucía Freitas
            </div>
        </div>
        <div class="participante">
            <div class="participante__foto">
                <picture>
                    <source srcset="/src/assets/images/ruben-osorio.jpg?as=webp&width=500" type="image/webp" />
                    <img class="imagen" src="/src/assets/images/ruben-osorio.jpg?as=jpg&width=500" alt="Rubén Osorio" />
                  </picture>
            </div>
            <div class="participante__nombre">
                Ruben Osorio
            </div>
        </div>
    </div>
</div>