<main class="my-8 xs:grid xs:grid-cols-5 xs:grid-rows-5 @container">
    <div class="flex flex-col justify-center items-center xs:col-start-2 xs:row-start-1 xs:col-span-3">
      <h1 class="text-cqw5">2º Concurso de Cocina</h1>
      <h2 class="text-cqw4">Boadilla del Monte</h2>
    </div>
    <div class="my-2 xs:my-0 xs:col-start-1 xs:col-span-5 xs:row-start-2 xs:row-span-3">
      <picture>
        <source srcset="/src/assets/images/comida.jpg?as=webp&width=1300" type="image/webp" />
        <img class="w-full object-cover" src="/src/assets/images/comida.jpg?as=jpg&width=1300" alt="Platos llenos de comida" />
      </picture>
    </div>
    <div class="my-3 xs:my-0 xs:col-start-1 xs:row-start-1">
      <picture>
        <source srcset="/src/assets/images/palacio.jpg?as=webp&width=640" type="image/webp" />
        <img class="w-full xs:aspect-square object-cover" src="/src/assets/images/palacio.jpg?as=jpg&width=640" alt="Palacio Infante Don Luis" />
      </picture>
    </div>
    <div class="my-3 xs:my-0 xs:col-start-5 xs:row-start-1">
      <picture>
        <source srcset="/src/assets/images/masterchef.jpg?as=webp&width=640" type="image/webp" />
        <img class="w-full xs:aspect-square object-cover" src="/src/assets/images/masterchef.jpg?as=jpg&width=640"
          alt="Concurso previo Master Chef" />
      </picture>
    </div>
    <div class="flex flex-col justify-center items-center my-3 xs:my-0 xs:col-start-2 xs:col-span-3 xs:row-start-5">
      <h1 class="text-cqw4">Boadilla del Monte (Madrid)</h1>
      <h2 class="text-cqw3">1 de julio de 2024. 10:00 h</h2>
    </div>
    <div class="my-3  xs:col-start-1 xs:row-start-5">
      <picture>
        <source srcset="/src/assets/images/concurso.avif?as=webp&width=640" type="image/webp" />
        <img class="w-full xs:aspect-square object-cover" src="/src/assets/images/concurso.avif?as=jpg&width=640" alt="Cociner@s trabajando" />
      </picture>
    </div>
    <div class="my-3  xs:col-start-5 xs:row-start-5">
      <picture>
        <source srcset="/src/assets/images/charla.avif?as=webp&width=640" type="image/webp" />
        <img class="w-full md:aspect-square object-cover" src="/src/assets/images/charla.avif?as=jpg&width=640"
          alt="Cocinero presentando sus recetas" />
      </picture>
    </div>
  </main>